<a href="https://colab.research.google.com/github/priyankarana5650-commits/PriyankaRana/blob/main/PriyaRana11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple
a=(5,20,25,30)#average
b=(26,5,6,2,3)#odd number
c=(3,2,5,1,6)#product

In [2]:
#Average
a=(5,20,25,30)
total_average=0
for i in range(len(a)):
  total_average+=a[i]
total_average=total_average/len(a)
print(total_average)

20.0

In [4]:
b=(26,5,6,2,3) # odd number
odd_numbers = []
for num in b:
  if num % 2 != 0:
    odd_numbers.append(num)
print(odd_numbers)

[5, 3]

In [9]:
#product
c=(3,2,4,1,6)
total_product=1
for i in range(len(c)):
  total_product*=c[i]
print(total_product)

144

In [ ]:
#find number divisible by 5
#a=(20,5,100,75,85,125)
# find number divisible by 5
# find number divisivble by 5 & 20
# find number divisuble by 5 or 20

In [24]:
# find number divisible by 5
a=(20,5,100,75,85,100)
for i in a:
  if i%5==0:
    print(i)

20
5
100
75
85
100

In [29]:
# find number divisivble by 5 & 20
b=(20,5,100,75,85,125)
for i in  b:
  if i%5==0 and i%20==0:
     print(i)

20
100

In [27]:
# find number divisuble by 5 or 20
c=(20,5,100,75,85,125)
for i in c:
  if i%5==0 or i%20==0:
    print(i)

20
5
100
75
85
125

In [32]:
#number divisible by 5 and 20 0r 15
n=(20,5,100,75,85,125)
for i in n:
  if i%5==0 and i%20==0 or i % 15==0:
   print(i)

20
100
75