<a href="https://colab.research.google.com/github/priyankarana5650-commits/PriyankaRana/blob/main/PriyankaRana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  #Leap year
year=int(input("enter year"))
if (year%400==0) and (year%100==0):
  print("leap year")
elif(year%4==0)and (year%100 !=0):
  print("leap year")
else:
  print("not a leap year")

enter year2024
leap year

In [ ]:
#loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# loop for even number
for even in range(0,11,2):
  print(even)

0
2
4
6
8
10

In [ ]:
# loop for odd number
for odd in range(1,11,2):
  print(odd)

1
3
5
7
9

In [ ]:
# loop for sum
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#loop for sum in even numbers
sum=0
for i in range(1,12,2):
  sum=sum+i
  print(sum)

1
4
9
16
25
36

In [ ]:
# cumulative sum of even numbers
sum=0
for i in range(2,13,2):
  sum=sum+i
  print(sum)

2
6
12
20
30
42

In [ ]:
# factorial
fact=1
for i in range(1,6):

  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
# factorial of 5!
sum=0
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [ ]:
# factorial, with sum of factorials :      # fact :      # sum:
fact=1                                     # 1*1=1         0+1=1
sum=0                                      # 1*2=2         1+2=3
for i in range(1,6):                       # 2*3=6         3+6=9
  fact=fact*i                              # 6*4=24        9+24=33
  sum=sum+fact                             # 24*5=120      33+120=153
  print(sum)
  print(fact)

1
1
3
2
9
6
33
24
153
120

In [ ]:
# factorial of numbers from 1 to 7
sum=0
fact=1
for i in range(1,8):
  fact=fact*i
  if i %2!=0:
   sum=sum+fact
  print(fact)
print(sum)

1
2
6
24
120
720
5040
5167

In [ ]:
#sum of factorials of odd numbers from 1 upto 7
sum=0
for i in range(1,8,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
print(sum)
print(fact)

5167
5040

In [ ]:
# factroial of numbers from 1 to 9 and its sum
sum=0
fact=1
for i in range(1,10):
  fact=fact*i
  if i % 4==1:
    sum=sum+fact
print(sum)
print(fact)

363001
362880

In [ ]:
# factorial of 1,9 by incrementing by 4(1!,5!,9!)
sum=0
for i in range(1,10,4):
  fact=1
  for j in range(1,i+1):
   fact=fact*j
  sum=sum+fact
print(sum)
print(fact)

363001
362880

In [ ]:
# sum and factorial of the odd numbers(1!,3!,5!)#
#factorial of numbers from 1 to 5
fact=1
sum=0
for i in range(1,6):
  fact= fact*i
  if i %2!=0:
      sum=sum+fact
print(sum)

127

In [ ]:
#sum of factorials of odd numbers from 1 to 5
sum=0
for i in range (1,6,2):
  fact=1
  for j in range (1,i+1):
      fact= fact*j
  sum=sum+fact
print(sum)

127

In [ ]:
#factorl
#3!+8!+13!+14!+20!+26!=?
#3!+8!+13!=?

sum1 = 0
for i in range(3,14,5):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum1=sum1+fact
print(sum1)

6227061126

In [ ]:
#factorial
#14!+20!+26!
sum2=0
for i in range(14,27,6):
  fact=1
  for j in range(1,i+1):
      fact=fact*i
  sum2=sum2+fact
print(sum2)
print(sum1+sum2)

6156119580312014910807786295225761792
6156119580312014910807786301452822918

In [ ]:
#1!+5!+9!
sum1=0
for i in range(1,10,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum1=sum1+fact
print(sum1)
print(fact)
print("-----------")

sum2=0
for i in range(2,11,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum2=sum2+fact
print(sum2)
print(fact)
print(sum1+sum2)

363001
362880
-----------
3629522
3628800
3992523

In [ ]:
#fabonaccai
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,10):
 third_term=first_term+second_term
 first_term=second_term
 second_term=third_term
print(third_term)

0
1
21

In [ ]:
#fabbonaccai
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,13):
 third_term=first_term+second_term
 first_term=second_term
 second_term=third_term
print(third_term)

0
1
89

In [ ]:
#hcf
a=int(input("enter value of a "))
b=int(input("enter value of b "))
if a>b:
  smallest=b
else:
  smallest=a
for i in range(1, smallest + 1):
  if (a % i == 0) and (b % i == 0):
    hcf = i
print("The HCF is:", hcf)

enter value of a 5
enter value of b 10
The HCF is: 5

In [ ]:
#lcm of 10,20
a=10
b=20
if a>b:
  biggest=a
else:
  biggest=b
for i in range(biggest,a*b+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

20

In [ ]:
# double loop
sum=0
for i in range (0,7,2):
    fact=1
    for j in range(1,i+1):
      fact=fact*j
    sum= sum +fact
    print(sum)

1
3
27
747

In [ ]:
#while loop (decrement)
number=5
while number>0:
  print(number)
  number=number-1

5
4
3
2
1

In [ ]:
#change in digit 5678 (increment)
n=5
while n<=8:
  print(n)
  n=n+1

5
6
7
8

In [ ]:
# while loop (conveting 2345 into  1, 5,4,3,2)
num=12345
while num>0:
 digit=num%10
 num=num//10
 print(digit)

5
4
3
2
1

In [ ]:
# reverse loop
num=68321
reverse=0
while num >0:
 digit=num%10
 reverse=reverse*10+digit
 num=num//10
print(reverse)

12386

In [ ]:
# pallindrom of num 5665
num=5665
temp=num
reverse=0
while num>0:
  digit=num%10
  reverse= reverse*10+digit
  num=num//10
print(reverse)
if temp==reverse:
   print("pallindrome,yes")
else:
  print("pallindrome,no")

5665
pallindrome,yes

In [ ]:
# while loop for sum upto 20
num=1
sum=0
while num<=20:
  sum=sum+num
  num=num+1
print(sum)

210

In [ ]:
#while loop for sum 5 to 25
num=5
sum=0
while num<=25:
  sum=sum+num
  num=num+1
print(sum)

315

In [ ]:
#while loop  table of 20
i=1
sum=0
n=int(input("enter number"))
while i<=10:
  pro=n*i
  i=i+1
  print(pro)
  sum=sum+pro
print(sum)

enter number20
20
40
60
80
100
120
140
160
180
200
1100

In [ ]:
# table of 20 by for loop:
i=1
sum=0
n=20
for i in range(1,11):
  product = n * i
  print(product)
  sum=sum+ product
print("Sum of the table:", sum)

20
40
60
80
100
120
140
160
180
200
Sum of the table: 1100

In [ ]:
# sum of table 19 & 20 and their average by while loop
i=1
sum1=0
n1=19
while i<=10:
  pro1=n1*i
  i=i+1
  print(pro1)
  sum1=sum1+pro1
print(sum1)

i=1
sum2=0
n2=20
while i<=10:
  pro2=n2*i
  i=i+1
  print(pro2)
  sum2=sum2+pro2
print(sum2)

total_sum=sum1+sum2
average=total_sum/2
print(total_sum)
print(average)

19
38
57
76
95
114
133
152
171
190
1045
20
40
60
80
100
120
140
160
180
200
1100
2145
1072.5

In [ ]:
# Calculate sum of table 20 and print its multiples
sum_table_20 = 0
n1 = 20
for i in range(1, 11):
  product = n1 * i
  sum_table_20 += product
  print(product)

# Calculate sum of table 19 and print its multiples
sum_table_19 = 0
n2 = 19
for i in range(1, 11):
  product = n2 * i
  sum_table_19 += product
  print(product)

# Calculate total sum and average of both tables
total_sum = sum_table_19 + sum_table_20
average = total_sum / 2

print("------------")
print(f"Sum of table {n1}: {sum_table_20}")
print(f"Sum of table {n2}: {sum_table_19}")
print(f"Total sum of both tables: {total_sum}")
print(f"Average of both sums: {average}")

20
40
60
80
100
120
140
160
180
200
19
38
57
76
95
114
133
152
171
190
------------
Sum of table 20: 1100
Sum of table 19: 1045
Total sum of both tables: 2145
Average of both sums: 1072.5

In [ ]:
#string
#indexing
name="rajupaisalaya"
print(name[4:9])
print(name[0:4])
print(name[9:13])
print(name[9:12])

name="tunemeragoldenwalachsmabecha"
print(name[8:14])
print(name[18:23])
print(name[8:18])
print(name[8:23])

paisa
raju
laya
lay
golden
chsma
goldenwala
goldenwalachsma

In [ ]:
#negative indexing
name="paisalaya"
print(name[-1])
print(name[-9:-4])

a
paisa

In [ ]:
#sliceing
x="maihoonkon" #hoon
print(x[3:7])

y="kaiseho" # ise
print(y[2:5])

z="kabhikabhi" #kabhi
print(z[0:5])

a="humhihumhai"# humhai
print(a[5:])

b="oyeraju"#era
print(b[2:5])

hoon
ise
kabhi
humhai
era

In [ ]:
#condition for finding alphabet
x="maihoonkaun"
y="k"
if "k"in x:
  print("available")
else:
  print("N/A")

available

In [ ]:
#reverse
name = "chintu"
reversed_name1 = name[::-1]
reversed_name2=name[:-3]
print(reversed_name1)
print(reversed_name2)

utnihc
chi

In [ ]:
#sum of charcters
a="Ram"
b="Shayam"
c=a+b
print(c)

RamShayam

In [ ]:
#lenght of string
x="kasieho"
for i in x:
   print(i)
print(len(x))

k
a
s
i
e
h
o
7

In [ ]:
#lenth of string
x="kasieho"
for i in range(len(x)):
  print(f"{i}: {x[i]}")

0: k
1: a
2: s
3: i
4: e
5: h
6: o

In [ ]:
#pallindrome
x="xyyx"
y=x[::-1]
if x==y:
  print("xyyx is pallindrome")
else:
  print("xyyx is not a pallindrome")

xyyx is pallindrome

In [ ]:
# reverse without inbuilt function
name="xyza"
reverse=""
for char in name:
  print(char)

x
y
z
a

In [ ]:
# revesr without inbuilt function
name="xyza"
reverse=""
for char in name:
  reverse=reverse+char
  print(reverse)
print("------------------------")

name="xyza"
reverse=""
for char in name:
  reverse=char+reverse
  print(reverse)

x
xy
xyz
xyza
------------------------
x
yx
zyx
azyx

In [ ]:
# square root
sqrt=2116
sqrt=2116**0.5
print(sqrt)

46.0

In [ ]:
#list # inbuilt function
a="i am okk"
print(a.replace("am","u"))
b="i am ok "
print(a.replace(" ",""))

a="my name is Priyanka"
print(a.startswith("m"))
print(a.endswith("k"))

a="    i am fine        "
print (a.strip())

i u okk
iamokk
True
False
i am fine

In [ ]:
a=[2,5,1,9,2,0,0,7]
a.append(10)
print(a)
print(a[1])
print(a[0:4])
print(a[-5:-1])
print(a[-1])

[2, 5, 1, 9, 2, 0, 0, 7, 10]
5
[2, 5, 1, 9]
[2, 0, 0, 7]
10

In [ ]:
#sum of list elements
a=[200,500,400,300]
sum=0
for i in a:
  sum=sum+i
print(sum)

1400

In [ ]:
#list containing diff.items
items=["pizza","burger","pasta","sandwich","icecream","coffee","noddles","soup","cake","momo"]
price=[250,400,200,500,600,200,100,600,400,300]
discount=[10,5,20,10,10,20,10,5,10,10]
total_price=0
total_discount=0
for i in range(len(items)):
  total_price=total_price+price[i]
  discount_amount=price[i]*discount[i]/100
  total_discount=total_discount+discount[i]
print("Total Bill:",total_price)
print("Total Discount:",total_discount)
print("discount Amt:",discount_amount)
final_bill=total_price-total_discount
print("Final Bill:",final_bill)

Total Bill: 3550
Total Discount: 110
discount Amt: 30.0
Final Bill: 3440

In [ ]:
#List with append function
items = []
prices =[]
discounts =[]
total_bill = 0
total_discount = 0
n = int(input("enter number of items"))
for i in range(n):
  item = input(f"enter item number {i+1}     : ")
  price = int(input(f"enter price of item number {i+1} : "))
  discount= int(input(f"enter discount of item number {i+1}: "))
  items.append(item)
  prices.append(price)
  discounts.append(discount)
  total_bill = total_bill + price
  total_discount = total_discount + price * discount /100
payble_bill = total_bill - total_discount
print("payble bill    : ", payble_bill)
print("total Bill     :",total_bill)
print("total_discount :",total_discount)

enter number of items2
enter item number 1     : pizza
enter price of item number 1 : 100
enter discount of item number 1: 10
enter item number 2     : burger
enter price of item number 2 : 100
enter discount of item number 2: 20
payble bill    :  170.0
total Bill     : 200
total_discount : 30.0

In [7]:
items = []
prices =[]
discounts =[]
total_bill = 0
total_discount = 0
n = int(input("enter number of items"))
for i in range(n):
  item = input(f"enter item number {i+1}     : ")
  price = int(input(f"enter price of item number {i+1} : "))
  discount= int(input(f"enter discount of item number {i+1}: "))
  items.append(item)
  prices.append(price)
  discounts.append(discount)
  total_bill = total_bill + price
  total_discount = total_discount + price * discount /100

payble_bill = total_bill - total_discount
print("payble bill    : ", payble_bill)
print("total Bill     :",total_bill)
print("total_discount :",total_discount)
print(item)
print(price)
print(discount)

enter number of items1
enter item number 1     : coffee
enter price of item number 1 : 300
enter discount of item number 1: 10
payble bill    :  270.0
total Bill     : 300
total_discount : 30.0
coffee
300
10

In [12]:
#list for coupon code # when no coupon is there
coupon_code=["save10","happyny","save20"]
percentage=[10,25,20]
user_coupon=input("enter coupon code")
if user_coupon in coupon_code:
  index = coupon_code.index(user_coupon)
  discount_on_coupon = payble_bill * percentage[index]/100
  print(discount_on_coupon)
  final_bill_a= payble_bill - discount_on_coupon
  print(final_bill_a)
else:
  print("coupon code invalid")
  print(payble_bill)

enter coupon codegg
coupon code invalid
270.0

In [13]:
# code for coupon code when coupon code is there
coupon_code=["save10","happyny","save20"]
percentage=[10,25,20]
user_coupon=input("enter coupon code")
if user_coupon in coupon_code:
  index = coupon_code.index(user_coupon)
  discount_on_coupon = payble_bill * percentage[index]/100
  print(discount_on_coupon)
  final_bill_a= payble_bill - discount_on_coupon
  print(final_bill_a)
else:
  print("coupon code invalid")
  print(payble_bill)

enter coupon codesave10
27.0
243.0

In [ ]:
# traffic signals
light=input("Enter which light is Green(north/south/east/west)")
if light=="south":
  print("west outgoing road  : running")
  print("north outgoing road : running")
  print("east outgoing road  :running")
  print("south outgoing road : runing")
  print(" west incoming      :stop")
  print("north incoming      :stop")
  print("east incoming       :stop")
elif light=="west":
  print("north outgoing road : running")
  print("east outgoing road  : running")
  print("south outgoing road :running")
  print("west outgoing road  :running")
  print("north incoming      :stop")
  print("east incoming       :stop")
  print("south incoming      :stop")
elif light=="north":
  print("east outgoing       :running")
  print("south outgoing      :running")
  print("west outgoing       :running")
  print("north outgoing      :running")
  print("east incoming       :stop")
  print("south incoming      :stop")
  print("west incoming       :stop")
elif light=="east":
  print("south outgoing      :running")
  print("west outgoing       :running")
  print("north outgoing      :running")
  print("east outgoing       :running")
  print("south incoming      :stop")
  print("west incoming       :stop")
  print("north incoming      :stop")
else:
  print("invalid direction")

Enter which light is Green(north/south/east/west)north
east outgoing       :running
south outgoing      :running
west outgoing       :running
north outgoing      :running
east incoming       :stop
south incoming      :stop
west incoming       :stop

In [ ]:
# Check if a number is divisible by 5
number = int(input("enter number :"))
if number % 5 == 0:
  print("divisible by 5")
else:
  print("not divisible by 5")

enter number :10
divisible by 5

In [ ]:
# number 35 divisible by both 7 and 5
number=35
if number % 7==0 and number % 5==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
#conditional statement
gender=input("enter gender(male/female):" )
age=int(input("enter age"))
if gender=="male":
  print("hotelA")
  if age>30:
    print("buildingA")
else:
  print("hotelB")
if age>30:
  print("send to building A")
else:
  print("send to building B")

enter gender(male/female):female
enter age32
hotelB
send to building A

In [ ]:
# Example using break
for i in range(1, 10):
  if i == 5:
    break  # Stop the loop when i is 5
  print(i)

print("Loop finished.")

1
2
3
4
Loop finished.

In [ ]:
# Example using continue
for i in range(1, 10):
  if i % 2 != 0:
    continue  # Skip odd numbers
  print(i)

2
4
6
8

In [ ]:
#conditional statement
num=int(input("enter number"))
if num==0:
  print("number is zero")
if num>0:
  print("number is positive")
else:
  print("number is nagative")

enter number-5
number is nagative

In [ ]:
#conditional statement
number1=int(input("enter number1:"))
number2=int(input("enternumber2:"))

if  number1== number2 :
  print("both are equal")
else:
  print("not equal")

enter number1:10
enternumber2:10
both are equal

In [ ]:
# interest calculations
time= int(input("enter month time"))
month=input("enter month :")
days=int(input("days"))
year=int(input("enter year"))
if month=="jan" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
elif month=="apr"or month=="june" or month=="september" or month=="nov":
  days_in_month=30
else:
  if year % 4 ==0 and year % 100!= 0 or year % 400==0:
    days_in_month=29
  else:
    days_in_month=28

print("days in month",days_in_month)
print(days/days_in_month)
principle=int(input("principle"))
rate=int(input("rate"))
time_in_month=days/days_in_month
interest_of_days=principle*rate*time_in_month/100
interest_of_month=principle*rate*time/100
total_interest= interest_of_days+interest_of_month
print("total interest",total_interest)
print(interest_of_days)

enter month time2
enter month :feb
days28
enter year2024
days in month 29
0.9655172413793104
principle5000
rate10
total interest 1482.7586206896553
482.75862068965523

In [ ]:
#Basic arithmetic functions
first=500
second=100
sum=first+second
sub=first-second
multi=first*second
divide=first/second
print(sum)
print(sub)
print(multi)
print(divide)
First_Number=5
second_Number=7
print(First_Number+second_Number )
600
400
50000
5.0
12

In [ ]:
#conditional statements
gender=(input("gender="))
if gender=="male":
  print("sunday,monday,thursday")
else:
  print("tuesday,wednesday,friday")

gender=female
tuesday,wednesday,friday

In [ ]:
#Simple interest calculations
principle=5000
rate=5
time=2
interest=principle*rate*time/100
print(interest)
#Simple Interest

500.0

In [ ]:
# Compound interest calculations
principle=int(input("entre principle :"))
rate=int(input("entre rate           :"))
time=int(input("time                 :"))
amount=principle*(pow((1+rate/100),time))
CI=amount-principle
print("compound Interest             :",CI)
print("Total amount you have to pay  :",amount)

#compound Interest

entre principle :5000
entre rate           :10
time                 :5
compound Interest             : 3052.550000000003
Total amount you have to pay  : 8052.550000000003

In [ ]:
#Compound interest calculations
p=int(input("enter principal"))
r=int(input("enter rate"))
t=int(input("enter time"))
a=p*(1+r/100)**t
ci=a-p
print("compound interest",ci)
#compound interest

enter principal10000
enter rate8
enter time3
compound interest 2597.120000000001

In [ ]:
#Q1.principal=6000
#rate=10%
#time=6 months
#convert months to years:
#time =6/12=0.5 years

principal=int(input("enter principal:"))
rate=int(input("enter rate:"))
months=int(input("enter time in months: "))
time=months/12
si=(principal*rate*time)/100
print("simple interest:",si)

#Q2.P=10000
#R=7%
#time=2 years 6 months

p=int(input("enter principal:"))
r=int(input("enter rate :"))
years=int(input("enter years: "))
months=int(input("enter months :"))
t= years+(months/12)
si=(p*r*t)/100
print("Simple interest:",si)

#Q3.personA:
#p=5000
#r=8%
#time=12
#personB:
#p=7000
#r=6%
#time=10
P1=int(input("enter principal for personA:"))
R1=int(input("enter rate for personA:"))
months1=int(input("enter months for personA"))

P2=int(input("enter principal for personB:"))
R2=int(input("enter rate for personB:"))
months2=int(input("enter months for personB"))

T1=months1/12
T2=months2/12
SI1=(P1*R1*T1)/100
SI2=(P2*R2*T2)/100
print("personA Interest:",SI1)
print("personB Interest:",SI2)
if SI1>SI2:
      print("personA earned more interest.")
elif SI2>SI1:
      print("personB earned more interest.")
else:
      print("Both earned equal interest.")

enter principal:6000
enter rate:10
enter time in months: 6
simple interest: 300.0
enter principal:10000
enter rate :7
enter years: 2
enter months :6
Simple interest: 1750.0
enter principal for personA:5000
enter rate for personA:8
enter months for personA12
enter principal for personB:7000
enter rate for personB:6
enter months for personB10
personA Interest: 400.0
personB Interest: 350.0
personA earned more interest.

In [ ]:
#S.I
principle=int(input("principle"))
rate=int(input("rate"))
time=int(input("time"))
days=int(input("days"))
time_in_month= days/30
interest=principle*rate*time/100
SI=(principle)*(rate)*(time_in_month)/100
print(interest)
print(SI)
print(interest+SI)

principle5000
rate10
time5
days20
2500.0
333.33333333333326
2833.333333333333

In [ ]:
#Leap year
year=int(input("enter year"))
if year % 4 ==0 and year % 100!= 0 or year % 400==0:

   print("days_in_month 29")
else:
  print(" days_in_month 28")

enter year2024
days_in_month 29

In [ ]:
#S.I
Principle=int(input("Principle"))
rate=int(input("rate"))
time=int(input("time"))
SI=(Principle)*(rate)*(time)/100
print(SI)
print("Total amount paid after 1 year:",SI+Principle)   # Simple Interest

Principle5000
rate10
time5
2500.0
Total amount paid after 1 year: 7500.0

In [ ]:

item1="pizza"
price_of_item1=500
item2="Burger"
price_of_item2=100
item3="noddles"
price_of_item3=200
item4="coffee"
price_of_item4=200
item5="sandwich"
price_of_item5=300
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("........ Reciept..........")
print("pizza     :", price_of_item1)
print("burger    :",price_of_item2)
print("noddles   :",price_of_item3)
print("coffee    :",price_of_item4)
print("sandwich  :",price_of_item5)

discount=sum*(10/100)
print("discount=           :",discount)
print("total=              :",sum)
print("-----------------------")
print("total amount to pay=:",sum-discount)

........ Reciept..........
pizza     : 500
burger    : 100
noddles   : 200
coffee    : 200
sandwich  : 300
discount=           : 130.0
total=              : 1300
-----------------------
total amount to pay=: 1170.0

In [ ]:
item1="pizza"
price_of_item1=200
item2="burger"
price_of_item2=300
item3="noddles"
price_of_item3=400
item4="coffee"
price_of_item4=250
item5="sandwich"
price_of_item5=100
print("------Bill------")
print("pizza    :",price_of_item1)
print("burger   :",price_of_item2)
print("noddle   :",price_of_item3)
print("coffee   :",price_of_item4)
print("sandwich :",price_of_item5)
print("----------------------------")
item1="pizza"
price_of_item1=200
discount_percent_on_item1= 10
discount_on_item1= price_of_item1*discount_percent_on_item1/100
price_of_item1_after_dis= price_of_item1 - discount_on_item1
print("......After Discount.....")
print("Pizza                   :",price_of_item1_after_dis)
item2="burger"
price_of_item2=300
discount_percent_on_item2=10
discount_on_item2=price_of_item2*discount_percent_on_item2/100
price_of_item2_after_dis=price_of_item2-discount_on_item2
print("burger                  :",price_of_item2_after_dis)
item3="noddles"
price_of_item3=200
discount_percent_on_item3= 10
discount_on_item3= price_of_item3*discount_percent_on_item3/100
price_of_item3_after_dis= price_of_item3 - discount_on_item3
print("noddles                 :",price_of_item3_after_dis)
item4="coffee"
price_of_item4=200
discount_percent_on_item4= 10
discount_on_item4= price_of_item4*discount_percent_on_item4/100
price_of_item4_after_dis= price_of_item4 - discount_on_item4
print("coffee                  :",price_of_item4_after_dis)
item5="sandwich"
price_of_item5=200
discount_percent_on_item5= 10
discount_on_item5= price_of_item5*discount_percent_on_item5/100
price_of_item5_after_dis= price_of_item5 - discount_on_item5
print("sandwich                :",price_of_item5_after_dis)
Total_Payable_Amount=price_of_item1_after_dis+price_of_item2_after_dis+price_of_item3_after_dis+price_of_item4_after_dis+price_of_item5_after_dis
print("Total Payable Amount    :",Total_Payable_Amount)





#delivery Address

name="PriyankaRana"
address="h.no.1234,sector18d"
mobileno=1234567892
pincode=160018



print("......Delivery Address.....")
print("name     :",name)
print("mobileno.:",mobileno)
print("pincode  :",pincode)

------Bill------
pizza    : 200
burger   : 300
noddle   : 400
coffee   : 250
sandwich : 100
----------------------------
......After Discount.....
Pizza                   : 180.0
burger                  : 270.0
noddles                 : 180.0
coffee                  : 180.0
sandwich                : 180.0
Total Payable Amount    : 990.0
......Delivery Address.....
name     : PriyankaRana
mobileno.: 1234567892
pincode  : 160018

In [ ]:

item1=input("name of item1")
price_of_item1=int(input("enter your price"))
item2=input("name of item2")
price_of_item2= int(input("enter price of item2"))
total_bill= price_of_item1+price_of_item2
print(total_bill)

name of item1pizza
enter your price300
name of item2fries
enter price of item2500
800

In [ ]:
a=int(input("entre value of a "))
b=int(input("entre vaue of b"))
sum=(a+b)
print("sum",sum)
multiply=(a*b)
divide=(a/b)
print("multiply",multiply)
print("divide",divide)

entre value of a: 200
entre vaue of b:300
sum 500
multiply 60000
divide 0.6666666666666666

In [ ]:
order1=input("enter order name")
price_of_order1=int(input("enter your price"))
discount_on_order1=int(input("enter discount"))
discount_on_order1=price_of_order1*discount_on_order1/100
price_of_order1_after_dis=price_of_order1-discount_on_order1

print(".....order1.....")
print("order1:",order1)
print("price_of_order1:",price_of_order1)
print("discount:",discount_on_order1)
print("price:",price_of_order1_after_dis)


order2=input("enter order name:")
price_of_order2=int(input("enter your price"))
discount_on_order2=int(input("enter discount"))
discount_on_order2=price_of_order2*discount_on_order2/100
price_of_order2_after_dis=price_of_order2-discount_on_order2

print(".....orderNO.2.....")
print("order2:",order2)
print("price_of_order2:",price_of_order2)
print("discount:",discount_on_order2)
print("price:",price_of_order2_after_dis)



order3=input("enter order name:")
price_of_order3=int(input("enter your price"))
discount_on_order3=int(input("enter discount"))
discount_on_order3=price_of_order3*discount_on_order3/100
price_of_order3_after_dis=price_of_order3-discount_on_order3
print("......orderNo3.....")
print("order3:",order3)
print("price_of_order3:",price_of_order3)
print("discount:",discount_on_order3)
print("price:",price_of_order3_after_dis)



order4=input("enter order name:")
price_of_order4=int(input("enter your price"))
discount_on_order4=int(input("enter discount"))
discount_on_order4=price_of_order4*discount_on_order4/100
price_of_order4_after_dis=price_of_order4-discount_on_order4
print(".....orderNo.4......")
print("order4:",order4)
print("price_of_order4:",price_of_order4)
print("discount:",discount_on_order4)
print("price:",price_of_order4_after_dis)



order5=input("enter order name:")
price_of_order5=int(input("enter your price"))
discount_on_order5=int(input("enter discount"))
discount_on_order5=price_of_order1*discount_on_order1/100
price_of_order5_after_dis=price_of_order5-discount_on_order5
print(".......orderNo5......")
print("order1:",order1)
print("price_of_order1:",price_of_order1)
print("discount:",discount_on_order1)
print("price:",price_of_order1_after_dis)

total_payable_bill=price_of_order1+price_of_order2+price_of_order3+price_of_order4+price_of_order5
print("..............................................")
print(total_bill)

enter order namepizza
enter your price500
enter discount10
.....order1.....
order1: pizza
price_of_order1: 500
discount: 50.0
price: 450.0
enter order name:burger
enter your price400
enter discount10
.....orderNO.2.....
order2: burger
price_of_order2: 400
discount: 40.0
price: 360.0
enter order name:noddles
enter your price200
enter discount10
......orderNo3.....
order3: noddles
price_of_order3: 200
discount: 20.0
price: 180.0
enter order name:coffee
enter your price600
enter discount10
.....orderNo.4......
order4: coffee
price_of_order4: 600
discount: 60.0
price: 540.0
enter order name:sandwich
enter your price500
enter discount10
.......orderNo5......
order1: pizza
price_of_order1: 500
discount: 50.0
price: 450.0
..............................................
1250

In [ ]:
item1= input("enter item1                   : ")
price_item1= int(input("enter price of item1: "))
discount1= int(input("enter discount 1      : "))
discount_price1= price_item1*discount1/100
final_price1= price_item1-discount_price1
print("final Price                          :",final_price1)

item2= input("enter item2                   : ")
price_item2= int(input("enter price of item2: "))
discount2= int(input("enter discount 2      : "))
discount_price2= price_item2*discount2/100
final_price2= price_item2-discount_price2
print("Final Price                          :",final_price2)

item3=(input("enter item3                   :"))
price_item3=int(input("enter price of item3 :"))
discount3=int(input("enter discunt3         :"))
discount_price3= price_item3*discount3/100
final_price3=price_item3-discount_price3
print("Final Price                         :",final_price3)

total_bill= price_item1+price_item2
actual_bill= final_price1 +final_price2
print("Total bill                          :",total_bill)
print("Actual bill                         :",actual_bill)

print("........Delivery Address.......")
name="Priyanka Rana"
House_No=" 1514,Sector 18D "
Mobile_No=1234567878
Pincode=160018
print("Name     :",name)
print("House No.:",House_No)
print("Pincode  :",Pincode)

enter item1                   : Badsheet
enter price of item1: 500
enter discount 1      : 10
final Price : 450.0
enter item2                   : Curtains
enter price of item2: 1000
enter discount 2      : 10
Final Price : 900.0
enter item3                  :Flowerpot
enter price of item3:1500
enter discunt3        :10
Final Price: 1350.0
Total bill  : 1500
Actual bill : 1350.0
........Delivery Address.......
Name     : Priyanka Rana
House No.:  1514,Sector 18D
Pincode  : 160018

In [ ]:
items = []
prices =[]
discounts =[]
n = int(input("enter number of items"))
for i in range(n):
  item = input(f"enter item number {i+1} : ")
  price = int(input(f"enter price of item number {i+1} : "))
  discount= int(input(f"enter discount of item number {i+1} : "))
  items.append(item)
  prices.append(price)
  discounts.append(discount)
  total_bill = total_bill + price
  total_discount = total_discount + price * discount /100
payble_bill = total_bill - total_discount
print("Total Discount :",total_discount)
print("total_bill     :",total_bill)
print("payble bill    : ", payble_bill)

enter number of items2
enter item number 1 : pizza
enter price of item number 1 : 100
enter discount of item number 1 : 10
enter item number 2 : burger
enter price of item number 2 : 100
enter discount of item number 2 : 20
Total Discount : 60.0
total_bill     : 400
payble bill    :  340.0