<a href="https://colab.research.google.com/github/priyankarana5650-commits/PriyankaRana/blob/main/Priyanka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first=500
second=100
sum=first+second
sub=first-second
multi=first*second
divide=first/second
print(sum)
print(sub)
print(multi)
print(divide)
First_Number=5
second_Number=7
print(First_Number+second_Number )
600
400
50000
5.0
12

In [7]:
gender=(input("gender="))
if gender=="male":
  print("sunday,monday,thursday")
else:
  print("tuesday,wednesday,friday")

gender=female
tuesday,wednesday,friday

In [11]:
principle=5000
rate=5
time=2
interest=principle*rate*time/100
print(interest)
#Simple Interest

500.0

In [9]:
principle=int(input("entre principle :"))
rate=int(input("entre rate           :"))
time=int(input("time                 :"))
amount=principle*(pow((1+rate/100),time))
CI=amount-principle
print("compound Interest             :",CI)
print("Total amount you have to pay  :",amount)

#compound Interest

entre principle :5000
entre rate           :10
time                 :5
compound Interest             : 3052.550000000003
Total amount you have to pay  : 8052.550000000003

In [ ]:
p=int(input("enter principal"))
r=int(input("enter rate"))
t=int(input("enter time"))
a=p*(1+r/100)**t
ci=a-p
print("compound interest",ci)
#compound interest

enter principal10000
enter rate8
enter time3
compound interest 2597.120000000001

In [19]:
#Q1.principal=6000
#rate=10%
#time=6 months
#convert months to years:
#time =6/12=0.5 years

principal=int(input("enter principal:"))
rate=int(input("enter rate:"))
months=int(input("enter time in months: "))
time=months/12
si=(principal*rate*time)/100
print("simple interest:",si)

#Q2.P=10000
#R=7%
#time=2 years 6 months

p=int(input("enter principal:"))
r=int(input("enter rate :"))
years=int(input("enter years: "))
months=int(input("enter months :"))
t= years+(months/12)
si=(p*r*t)/100
print("Simple interest:",si)

#Q3.personA:
#p=5000
#r=8%
#time=12
#personB:
#p=7000
#r=6%
#time=10
P1=int(input("enter principal for personA:"))
R1=int(input("enter rate for personA:"))
months1=int(input("enter months for personA"))

P2=int(input("enter principal for personB:"))
R2=int(input("enter rate for personB:"))
months2=int(input("enter months for personB"))

T1=months1/12
T2=months2/12
SI1=(P1*R1*T1)/100
SI2=(P2*R2*T2)/100
print("personA Interest:",SI1)
print("personB Interest:",SI2)
if SI1>SI2:
      print("personA earned more interest.")
elif SI2>SI1:
      print("personB earned more interest.")
else:
      print("Both earned equal interest.")

enter principal:6000
enter rate:10
enter time in months: 6
simple interest: 300.0
enter principal:10000
enter rate :7
enter years: 2
enter months :6
Simple interest: 1750.0
enter principal for personA:5000
enter rate for personA:8
enter months for personA12
enter principal for personB:7000
enter rate for personB:6
enter months for personB10
personA Interest: 400.0
personB Interest: 350.0
personA earned more interest.

In [19]:
principle=int(input("principle"))    # simple Interest
rate=int(input("rate"))
time=int(input("time"))
days=int(input("days"))
time_in_month= days/30
interest=principle*rate*time/100
SI=(principle)*(rate)*(time_in_month)/100
print(interest)
print(SI)
print(interest+SI)

principle5000
rate10
time5
days20
2500.0
333.33333333333326
2833.333333333333

In [7]:
Principle=int(input("Principle"))
rate=int(input("rate"))
time=int(input("time"))
SI=(Principle)*(rate)*(time)/100
print(SI)
print("Total amount paid after 1 year:",SI+Principle)   # Simple Interest

Principle5000
rate10
time5
2500.0
Total amount paid after 1 year: 7500.0

In [ ]:

item1="pizza"
price_of_item1=500
item2="Burger"
price_of_item2=100
item3="noddles"
price_of_item3=200
item4="coffee"
price_of_item4=200
item5="sandwich"
price_of_item5=300
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("........ Reciept..........")
print("pizza     :", price_of_item1)
print("burger    :",price_of_item2)
print("noddles   :",price_of_item3)
print("coffee    :",price_of_item4)
print("sandwich  :",price_of_item5)

discount=sum*(10/100)
print("discount=           :",discount)
print("total=              :",sum)
print("-----------------------")
print("total amount to pay=:",sum-discount)

........ Reciept..........
pizza     : 500
burger    : 100
noddles   : 200
coffee    : 200
sandwich  : 300
discount=           : 130.0
total=              : 1300
-----------------------
total amount to pay=: 1170.0

In [ ]:
item1="pizza"
price_of_item1=200
item2="burger"
price_of_item2=300
item3="noddles"
price_of_item3=400
item4="coffee"
price_of_item4=250
item5="sandwich"
price_of_item5=100
print("------Bill------")
print("pizza    :",price_of_item1)
print("burger   :",price_of_item2)
print("noddle   :",price_of_item3)
print("coffee   :",price_of_item4)
print("sandwich :",price_of_item5)
print("----------------------------")
item1="pizza"
price_of_item1=200
discount_percent_on_item1= 10
discount_on_item1= price_of_item1*discount_percent_on_item1/100
price_of_item1_after_dis= price_of_item1 - discount_on_item1
print("......After Discount.....")
print("Pizza                   :",price_of_item1_after_dis)
item2="burger"
price_of_item2=300
discount_percent_on_item2=10
discount_on_item2=price_of_item2*discount_percent_on_item2/100
price_of_item2_after_dis=price_of_item2-discount_on_item2
print("burger                  :",price_of_item2_after_dis)
item3="noddles"
price_of_item3=200
discount_percent_on_item3= 10
discount_on_item3= price_of_item3*discount_percent_on_item3/100
price_of_item3_after_dis= price_of_item3 - discount_on_item3
print("noddles                 :",price_of_item3_after_dis)
item4="coffee"
price_of_item4=200
discount_percent_on_item4= 10
discount_on_item4= price_of_item4*discount_percent_on_item4/100
price_of_item4_after_dis= price_of_item4 - discount_on_item4
print("coffee                  :",price_of_item4_after_dis)
item5="sandwich"
price_of_item5=200
discount_percent_on_item5= 10
discount_on_item5= price_of_item5*discount_percent_on_item5/100
price_of_item5_after_dis= price_of_item5 - discount_on_item5
print("sandwich                :",price_of_item5_after_dis)
Total_Payable_Amount=price_of_item1_after_dis+price_of_item2_after_dis+price_of_item3_after_dis+price_of_item4_after_dis+price_of_item5_after_dis
print("Total Payable Amount    :",Total_Payable_Amount)





#delivery Address

name="PriyankaRana"
address="h.no.1234,sector18d"
mobileno=1234567892
pincode=160018



print("......Delivery Address.....")
print("name     :",name)
print("mobileno.:",mobileno)
print("pincode  :",pincode)

------Bill------
pizza    : 200
burger   : 300
noddle   : 400
coffee   : 250
sandwich : 100
----------------------------
......After Discount.....
Pizza                   : 180.0
burger                  : 270.0
noddles                 : 180.0
coffee                  : 180.0
sandwich                : 180.0
Total Payable Amount    : 990.0
......Delivery Address.....
name     : PriyankaRana
mobileno.: 1234567892
pincode  : 160018

In [ ]:

item1=input("name of item1")
price_of_item1=int(input("enter your price"))
item2=input("name of item2")
price_of_item2= int(input("enter price of item2"))
total_bill= price_of_item1+price_of_item2
print(total_bill)

name of item1pizza
enter your price300
name of item2fries
enter price of item2500
800

In [ ]:
a=int(input("entre value of a "))
b=int(input("entre vaue of b"))
sum=(a+b)
print("sum",sum)
multiply=(a*b)
divide=(a/b)
print("multiply",multiply)
print("divide",divide)

entre value of a: 200
entre vaue of b:300
sum 500
multiply 60000
divide 0.6666666666666666

In [ ]:
order1=input("enter order name")
price_of_order1=int(input("enter your price"))
discount_on_order1=int(input("enter discount"))
discount_on_order1=price_of_order1*discount_on_order1/100
price_of_order1_after_dis=price_of_order1-discount_on_order1

print(".....order1.....")
print("order1:",order1)
print("price_of_order1:",price_of_order1)
print("discount:",discount_on_order1)
print("price:",price_of_order1_after_dis)


order2=input("enter order name:")
price_of_order2=int(input("enter your price"))
discount_on_order2=int(input("enter discount"))
discount_on_order2=price_of_order2*discount_on_order2/100
price_of_order2_after_dis=price_of_order2-discount_on_order2

print(".....orderNO.2.....")
print("order2:",order2)
print("price_of_order2:",price_of_order2)
print("discount:",discount_on_order2)
print("price:",price_of_order2_after_dis)



order3=input("enter order name:")
price_of_order3=int(input("enter your price"))
discount_on_order3=int(input("enter discount"))
discount_on_order3=price_of_order3*discount_on_order3/100
price_of_order3_after_dis=price_of_order3-discount_on_order3
print("......orderNo3.....")
print("order3:",order3)
print("price_of_order3:",price_of_order3)
print("discount:",discount_on_order3)
print("price:",price_of_order3_after_dis)



order4=input("enter order name:")
price_of_order4=int(input("enter your price"))
discount_on_order4=int(input("enter discount"))
discount_on_order4=price_of_order4*discount_on_order4/100
price_of_order4_after_dis=price_of_order4-discount_on_order4
print(".....orderNo.4......")
print("order4:",order4)
print("price_of_order4:",price_of_order4)
print("discount:",discount_on_order4)
print("price:",price_of_order4_after_dis)



order5=input("enter order name:")
price_of_order5=int(input("enter your price"))
discount_on_order5=int(input("enter discount"))
discount_on_order5=price_of_order1*discount_on_order1/100
price_of_order5_after_dis=price_of_order5-discount_on_order5
print(".......orderNo5......")
print("order1:",order1)
print("price_of_order1:",price_of_order1)
print("discount:",discount_on_order1)
print("price:",price_of_order1_after_dis)

total_payable_bill=price_of_order1+price_of_order2+price_of_order3+price_of_order4+price_of_order5
print("..............................................")
print(total_bill)

enter order namepizza
enter your price500
enter discount10
.....order1.....
order1: pizza
price_of_order1: 500
discount: 50.0
price: 450.0
enter order name:burger
enter your price400
enter discount10
.....orderNO.2.....
order2: burger
price_of_order2: 400
discount: 40.0
price: 360.0
enter order name:noddles
enter your price200
enter discount10
......orderNo3.....
order3: noddles
price_of_order3: 200
discount: 20.0
price: 180.0
enter order name:coffee
enter your price600
enter discount10
.....orderNo.4......
order4: coffee
price_of_order4: 600
discount: 60.0
price: 540.0
enter order name:sandwich
enter your price500
enter discount10
.......orderNo5......
order1: pizza
price_of_order1: 500
discount: 50.0
price: 450.0
..............................................
1250

In [ ]:
item1= input("enter item1                   : ")
price_item1= int(input("enter price of item1: "))
discount1= int(input("enter discount 1      : "))
discount_price1= price_item1*discount1/100
final_price1= price_item1-discount_price1
print("final Price                          :",final_price1)

item2= input("enter item2                   : ")
price_item2= int(input("enter price of item2: "))
discount2= int(input("enter discount 2      : "))
discount_price2= price_item2*discount2/100
final_price2= price_item2-discount_price2
print("Final Price                          :",final_price2)

item3=(input("enter item3                   :"))
price_item3=int(input("enter price of item3 :"))
discount3=int(input("enter discunt3         :"))
discount_price3= price_item3*discount3/100
final_price3=price_item3-discount_price3
print("Final Price                         :",final_price3)

total_bill= price_item1+price_item2
actual_bill= final_price1 +final_price2
print("Total bill                          :",total_bill)
print("Actual bill                         :",actual_bill)

print("........Delivery Address.......")
name="Priyanka Rana"
House_No=" 1514,Sector 18D "
Mobile_No=1234567878
Pincode=160018
print("Name     :",name)
print("House No.:",House_No)
print("Pincode  :",Pincode)

enter item1                   : Badsheet
enter price of item1: 500
enter discount 1      : 10
final Price : 450.0
enter item2                   : Curtains
enter price of item2: 1000
enter discount 2      : 10
Final Price : 900.0
enter item3                  :Flowerpot
enter price of item3:1500
enter discunt3        :10
Final Price: 1350.0
Total bill  : 1500
Actual bill : 1350.0
........Delivery Address.......
Name     : Priyanka Rana
House No.:  1514,Sector 18D
Pincode  : 160018