<a href="https://colab.research.google.com/github/priyankarana5650-commits/PriyankaRana/blob/main/PRwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#loops
#while loop & foe loop
i=1
while i<=5:
  print("priya")
  i=i+1

print(i)

priya
priya
priya
priya
priya
6

In [ ]:
i=1
while i <=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
i=5
while i>=1:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
#while loop
i=1
n=int(input("enter number"))
while i <=10:
  print(n*i)
  i=i+1

enter number15
15
30
45
60
75
90
105
120
135
150

In [12]:
# factorial of any number
n=int(input("enter a number"))
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

enter a number5
1
2
6
24
120

In [14]:
#enter marks of subjects# for loop
total=0
subjects=int(input("enter subjects:"))
for i in range (subjects):
  marks=int(input("enter marks for subjects:"))
  total=total+marks
  print(" total marks=",total)

enter subjects:2
enter marks for subjects:50
 total marks= 50
enter marks for subjects:70
 total marks= 120

In [16]:
#break & continue
sum=0
for i in range (1,6):
  if i ==3:
    continue
  if i ==5:
    break
  print(i)

1
2
4

In [21]:
#odd
n=int(input("enter number: "))
for i in range(1,n+1):
  if i % 2!= 0:
    print(i)
#even
n=int(input("enter number: "))
for i in range(1,n+1):
  if i % 2== 0:
    print(i)

enter number: 10
1
3
5
7
9
enter number: 10
2
4
6
8
10

In [22]:
fruits=["apple","banana","cherry"]
for fruits in fruits:
  print(fruits)

apple
banana
cherry

In [ ]:
#traffic lights
light = input("Enter the light color (green, yellow, or red): ") # Added input for light color

if light=="green":
  print("go")
elif light=="yellow":
   print("slow down")
elif light=="red":
  print("stop")
else:
  print("invalid light")

Enter the light color (green, yellow, or red): green
go

In [ ]:
marks=int(input("enter marks"))
if (marks>=90):
  print("A")
elif(marks>=80 and marks<90):
  print("B")
elif(marks>=70 and marks <80):
  print("C")
else:
  print("D")

enter marks85
B

In [ ]:
#nesting
age=int(input("enter age"))
if (age>= 18):
  if (age>=80):
    print("age excced")
  else:
    print("can drive")
else:
  print("cannot drive")

enter age82
age excced

In [ ]:
p=int(input("enter principal"))
r=int(input("enter rate"))
months=int(input("enter months"))
t=months/12
si=(p*r*t)/100
print("simple Interest",si)

enter principal5000
enter rate8
enter months9
simple Interest 300.0

In [ ]:
light=input("Enter which light is Green(north/south/east/west)")
if light=="south":
  print("west outgoing road  : running")
  print("north outgoing road : running")
  print("east outgoing road  :running")
  print("south outgoing road : runing")
  print(" west incoming      :stop")
  print("north incoming      :stop")
  print("east incoming       :stop")
elif light=="west":
  print("north outgoing road : running")
  print("east outgoing road  : running")
  print("south outgoing road :running")
  print("west outgoing road  :running")
  print("north incoming      :stop")
  print("east incoming       :stop")
  print("south incoming      :stop")
elif light=="north":
  print("east outgoing       :running")
  print("south outgoing      :running")
  print("west outgoing       :running")
  print("north outgoing      :running")
  print("east incoming       :stop")
  print("south incoming      :stop")
  print("west incoming       :stop")
elif light=="east":
  print("south outgoing      :running")
  print("west outgoing       :running")
  print("north outgoing      :running")
  print("east outgoing       :running")
  print("south incoming      :stop")
  print("west incoming       :stop")
  print("north incoming      :stop")
else:
  print("invalid direction")

Enter which light is Green(north/south/east/west)south
west outgoing road  : running
north outgoing road : running
east outgoing road  :running
south outgoing road : runing
 west incoming      :stop
north incoming      :stop
east incoming       :stop

In [ ]:
time= int(input("enter month time"))
month=input("enter month :")
days=int(input("days"))
year=int(input("enter year"))
if month=="jan" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
elif month=="apr"or month=="june" or month=="september" or month=="nov":
  days_in_month=30
else:
  if year % 4 ==0 and year % 100!= 0 or year % 400==0:
    days_in_month=29
  else:
    days_in_month=28
print("days in month",days_in_month)
print(days/days_in_month)
principle=int(input("principle"))
rate=int(input("rate"))
time_in_month=days/days_in_month
interest_of_days=principle*rate*time_in_month/100
interest_of_month=principle*rate*time/100
total_interest= interest_of_days+interest_of_month
print("total interest",total_interest)
print(interest_of_days)
#with leap year

In [ ]:
time=int(input("enter month time"))
days=int(input("enterdays :"))
month=input("enter month:")
if months=="jan"  or month=="march"   or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
elif months=="apr" or month=="june" or month=="sep" or month=="november":
  days_in_month=30
else:
  days_in_month=28
print(days_in_month)

P=int(input("enter pricipal amt :"))
rate=int(input("enter rate "))
time_in_months=days/days_in_month
interest_of_days=P*rate*time_in_months/100
interest_of_month=P*rate*time/100
total_interest=interest_of_days+interest_of_month
print("Interest_of_month",interest_of_month)
print("Interest_of_days",interest_of_days)
print("Total Interest",total_interest)

enter month time5
enterdays :20
enter month:may
31
enter pricipal amt :5000
enter rate 10
Interest_of_month 2500.0
Interest_of_days 322.5806451612903
Total Interest 2822.5806451612902

In [ ]:
#year=365
#leap year=366 once in a year
1996
2000
2004
2008
2012
2016
2020
2024
#condition for leap year: 2000%400==0 and 2000%100==0
year=int(input("enter year"))
if (year%400==0) and (year%100==0):
  print(year,"leap year")
elif(year%4==0)and (year%100 !=0):
  print(year,"leap year")
else:
  print("not a leap year")

enter year2025
not a leap year

In [ ]:
year=int(input("enter the year"))
if(year % 100==0 and year% 400==0):
  print("leap year")
elif(year % 4==0 and year % 100 !=0):
  print("leap year")
else:
    print("not a leap year")

enter the year2024
leap year

In [ ]:
p=int(input("enter principal"))
r=int(input("enter rate"))
months=int(input("entermonths "))
t=months/12
si=(p*r*t)/100
print("simple interest",si)

enter principal9500
enter rate10
entermonths 15
simple interest 1187.5

In [ ]:
p=int(input("enter principal "))
r=float(input("enter rate"))
year=int(input("enter years"))
months=int(input("enter months"))
t=year+(months/12)

si=(p*r*t)/100
print("simple interest",si)

enter principal 12000
enter rate7.5
enter years2
enter months3
simple interest 2025.0

In [ ]:
p=int(input("enter principal"))
r=int(input("enter rate"))
t=int(input("time"))
a=p*(1+r/100)**t
ci=a-p
print("compound interest",ci)

enter principal5000
enter rate5
time2
compound interest 512.5

In [ ]:
p=int(input("enter principal"))
r=int(input("enter rate"))
t=int(input("enter time"))
a=p*(1+r/100)**t
ci=a-p
print("compound interest",ci)

enter principal10000
enter rate8
enter time3
compound interest 2597.120000000001